#dashboard {
  padding: 20px;
}

.dashboard-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.dashboard-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.img-fluid {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-fluid:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}